
@{
    ViewData["Title"] = "Teachers";
}
<!-- Banner Area Start -->
@await Component.InvokeAsync("SectionTitle", new { title = "Teachers" })
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        @await Component.InvokeAsync("Teacher", null)
    </div>
</div>
<!-- Teacher End -->
