@{
    ViewData["Title"] = "Home Page";
}

<!-- Background Area Start -->
<section id="slider-container" class="slider-area three">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        <div class="single-slide item" style="background-image: url(assets/img/slider/slider3.jpg)">
            <!-- Start Slider Content -->
            <div class="slider-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="slide-content-wrapper">
                                <div class="slide-content">
                                    <h3>EDUCATION MAKES </h3>
                                    <h2>PROPER HUMANITY </h2>
                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and prsing pain was born and I will give you a complete account of the system  </p>
                                    <a class="default-btn" asp-controller="About" asp-action="Index">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="slider-img">
                                <img src="~/assets/img/slider/home.png" alt="slider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Slider Content -->
        </div>
        <!-- End Slingle Slide -->
        <!-- Start Slingle Slide -->
        <div class="single-slide item" style="background-image: url(assets/img/slider/slider2.jpg)">
            <!-- Start Slider Content -->
            <div class="slider-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="slide-content-wrapper">
                                <div class="slide-content">
                                    <h3>EDUCATION MAKES </h3>
                                    <h2>PROPER HUMANITY </h2>
                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and prsing pain was born and I will give you a complete account of the system  </p>
                                    <a class="default-btn" asp-controller="About" asp-action="Index">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="slider-img">
                                <img src="~/assets/img/slider/home.png" alt="slider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Slider Content -->
        </div>
        <!-- End Slingle Slide -->
        <!-- Start Slingle Slide -->
        <div class="single-slide item" style="background-image: url(assets/img/slider/slider1.jpg)">
            <!-- Start Slider Content -->
            <div class="slider-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="slide-content-wrapper">
                                <div class="slide-content">
                                    <h3>EDUCATION MAKES </h3>
                                    <h2>PROPER HUMANITY </h2>
                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and prsing pain was born and I will give you a complete account of the system  </p>
                                    <a class="default-btn" asp-controller="About" asp-action="Index">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="slider-img">
                                <img src="~/assets/img/slider/home.png" alt="slider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Slider Content -->
        </div>
        <!-- End Slingle Slide -->
    </div>
</section>
<!-- Background Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/assets/img/icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Course", 3)
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
@await Component.InvokeAsync("NoticeArea")
<!-- Notice End -->
<!-- About Start -->
@await Component.InvokeAsync("AboutArea")
<!-- About End -->
<!-- Event Area Start -->
<div class="event-area three text-center pt-100 pb-115">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/assets/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Event",new { take=3,col=4})
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
@await Component.InvokeAsync("Testimonial")
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/assets/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Blog",new { take=3, col=4  })
        </div>
    </div>
</div>
<!-- Blog Area End -->
