
@{
    ViewData["Title"] = "Event";
}
<!-- Banner Area Start -->
@await Component.InvokeAsync("SectionTitle", new { title = "Events" })
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area event-area three text-center pt-150 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title"style="text-align:left !important">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input type="text" id="search-input" placeholder="Search..." name="search" />  
                    </form>
                </div>
            </div>
        </div>
        <div class="row" id="events-list">

        </div>
        @await Component.InvokeAsync("Event", new { take=0 })
           
    </div>
</div>
<!-- Blog End -->
