@model SpikersOfEvent
@{
    ViewData["Title"] = "Detail";
}
<div class="col-md-6 grid-margin stretch-card bg-dark text-light">
    <div class="card d-flex flex-column bg-dark">

        <div class="card-body ">
            <img src="~/assets/img/event/@Model.Image" style="height: 150px !important;width: 200px !important;" />
        </div>
        <div class="card-body ">
            <h4 style="font-weight:600 !important">Spiker Name : <span style="font-weight:200 !important"> @Model.FullName </span></h4>
        </div>
        <div class="card-body ">
            <h5 style="font-weight:600 !important">Professsion : <span style="font-weight:200 !important"> @Model.Profession </span></h5>
        </div>
        <div class="card-body ">
            <h5 style="font-weight:600 !important">Description : <span style="font-weight:200 !important"> @Model.DetailOfEvent.Event.Name</span></h5>
        </div>

    </div>
</div>
<div class="a" style="padding: 0 10px">
    <a asp-action="Index" class="btn btn-outline-secondary">Go Back</a>

</div>
