@model SocMedOfTeacher
@{
    ViewData["Title"] = "Delete";
}

<div class="col-md-6 grid-margin stretch-card bg-dark text-light">
    <div class="card d-flex flex-column  bg-dark">


        
        <div class="card-body ">
            <h4 style="font-weight:600 !important">Link: <span style="font-weight:300 !important">@Model.Link </span></h4>
        </div>
        <div class="card-body ">
            <h4 style="font-weight:600 !important">Teacher: <span style="font-weight:300 !important">@Model.Teacher.FullName </span></h4>
        </div>

        <div class="card-body ">
            <h2 class=" text-light">Are you sure delete ? </h2>
        </div>
    </div>
</div>
<div class="d-flex my-2">
    <form method="post">
        <button type="submit" class="btn btn-outline-success  " style="cursor:pointer; margin: 0 30px">Delete</button>
    </form>
    <a asp-action="Index" class="btn btn-outline-secondary  " style="cursor:pointer;">Go Back</a>
</div>

