
@model TeacherVM
@{
    ViewData["Title"] = "Detail";
}
<div class="col-md-6 grid-margin stretch-card bg-dark text-light">
    <div class="card d-flex flex-column bg-dark">


        <div class="card-body ">
            <h4 style="font-weight:600 !important">Link : <span style="font-weight:200 !important"> @Model.SocMedOfTeacher.Link </span></h4>
        </div>
        <div class="card-body ">
            <h5 style="font-weight:600 !important">Icon : <span class="jrc" style="font-weight:200 !important"> @Html.Raw(Model.SocMedOfTeacher.Icon) </span></h5>
        </div>
        <div class="card-body ">
            <h5 style="font-weight:600 !important;text-transform:capitalize!important">Teacher : <span style="font-weight:200 !important;"> @Model.SocMedOfTeacher.Teacher.FullName </span></h5>
        </div>

    </div>
</div>
<div class="a" style="padding: 0 10px">
    <a asp-action="Index" class="btn btn-outline-secondary">Go Back</a>

</div>

