@model CommentVM
@{
    ViewData["Title"] = "Detail Of Blog";
}

@await Component.InvokeAsync("SectionTitle", new { title = "Blog Details", source = "../.." })
<!-- Blog Start -->
<div class="blog-details-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-details">
                    <div class="blog-details-img">
                        <img src="~/assets/img/blog/@Model.DetailsOfBlog.Blog.Image" alt="blog-details">
                    </div>
                    <div class="blog-details-content">
                        <h2>@Model.DetailsOfBlog.Blog.Title </h2>
                        <h6>By @Model.DetailsOfBlog.Blog.Author  /   @Model.DetailsOfBlog.Blog.DateTime.ToString("d MMMM yyyy")  /  <i class="fa fa-comments-o"></i> 4</h6>
                        <p>@Html.Raw(Model.DetailsOfBlog.Description)</p>

                    </div>
                    @await Component.InvokeAsync("Comment", new { product = "blog" })
                </div>
            </div>
            <div class="col-md-4">
                @await Component.InvokeAsync("LastsBlog", new { path = "blog" })
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
